
.figure {
  background-color: rgb(0, 0, 0);
  margin-left: 20px;
  margin-top: 10px;
}
.square {
  width: 100px;
  height: 100px;
}
.circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.rectangle{
  height: 100px;
  width: 150px;
}